.AppLink {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease;

  &:hover {
    border-bottom: 1px solid var(--block-text-color);
  }
}

.plain {
  color: var(--block-text-color);
}
