@import 'reset';
@import 'variables/global';
@import 'themes/dark.scss';
@import 'themes/light.scss';

.app {
  font: var(--font-m);
  background: var(--bg-primary-color);
  color: var(--bg-text-color);
  min-height: 100vh;
}
