.app.light {
  --bg-primary-color: #FDFDFD;
  --bg-secondary-color: #F5F5F5;
  --bg-text-color: #353839;
  --block-primary-color: #FFD700;
  --block-secondary-color: #E7AF00;
  --block-text-color: #886000;
}
